* {
    box-sizing:border-box;
    margin: 0;
}

header {
    margin-bottom: 100px;
}

html {
    color: #000000;
    /* set text color to white */
    font-size: 18px;
    font-family: "arial", "sans-serif";
}

body {
    background-image: url("../images/model3-triplets.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* use 100% of the view height (vh) so image doesn't repeat, but fills space instead) */
}

h1,
h2 {
    font-weight: 400;
    color: dimgrey;
}

.h1-title,
.ul-title {
    margin-left: 30%;
}

.h2-style {
    margin-left: 5%;
    border-style: solid;
    border-color: black;
    padding: 2%;
    border-radius: 5%;
    background-color: lightgrey;
    color: #cc1a1a;
}

a {
    margin: 5, 0, 0, 5;
    padding: 0px 10px 0px 0px;
    /* only give some space to the right of anchors (links) */
    color: #000000;
    /* set anchor color to black */
}

p {
    width: 75%;
    color: black;
}

img {
    padding: 0px 10px 0px 0px;
    /* only give some space to the right of images */
}

.image-box {
    width: 15%;
    padding: 20px;
    display: inline-block;
}

.section-pics {
    background-image: linear-gradient(#ffffff, #000000);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    width: 60%;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

.p-quote {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-align: right;
    color: #ffffff;
    font-weight: 300;
}

.main-nav {
    text-transform: uppercase;
    text-decoration-color: #ff0000;
    font-size: 100%;
    color: black;
}

.section-features {
    width: 50%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 10px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.slideshow {
    width: 100%;
    margin-left: 10%;
    margin-right: 20%;
}

.section-pics-copy {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.news-headline {
    margin-left: 5%;
    text-decoration-line: underline;
    padding: 10px, 10px;
}

.news-list {
    max-width: 100%;
    content: 30px;
}

#container {
    width: 100%;
    background-color: grey;
    margin:auto
}

#first {
    width: 30%;
    float: left;
    height: 300%;
    background-color: lightgrey;
    margin-left: 5%;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    font-size: 80%;
}
#second {
    width: 60%;
    float: left;
    height: 400px;
    margin-right: 5%;
}

